Repository line/centraldogma, pull requests merged in 2019-08, with the labels that each got.

#425 Do not use `cgo` when building CLI / Update Go
  cli/build.gradle
Labels: defect

#427 Update Git-to-CD mirroring documentation about private key
  site/src/sphinx/mirroring.rst
Labels: documentation

#429 Update dependencies
  client/java-armeria/src/main/java/com/linecorp/centraldogma/client/armeria/AbstractArmeriaCentralDogmaBuilder.java
  client/java-spring-boot1-autoconfigure/build.gradle
  dependencies.yml
  server/src/main/java/com/linecorp/centraldogma/server/CentralDogma.java
  server/src/main/java/com/linecorp/centraldogma/server/auth/AuthConfig.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/admin/service/UserService.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/admin/util/RestfulJsonResponseConverter.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/api/converter/CreateApiResponseConverter.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/api/converter/HttpApiResponseConverter.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/mirror/GitMirror.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/thrift/CentralDogmaServiceImpl.java
  server/src/test/java/com/linecorp/centraldogma/server/ContentCompressionTest.java
Labels: dependencies

#430 Update dependencies
  dependencies.yml
Labels: dependencies

#431 Update dependencies
  dependencies.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies

#433 Bump jcommander to 1.78
  dependencies.yml
Labels: dependencies
