Repository line/centraldogma, pull requests merged in 2023-07, with the labels that each got.

#855 Disable Zookeeper multi address
  server/src/main/java/com/linecorp/centraldogma/server/internal/replication/EmbeddedZooKeeper.java
Labels: defect

#849 Add Armeria version update job
  .github/workflows/update-armeria-version.yml
Labels: miscellaneous

#859 Update Armeria version to 1.24.3
  dependencies.toml
Labels: dependencies

#861 Add JDK 19 build in CI
  .github/workflows/actions_build.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-release.yml
  .github/workflows/publish-site.yml
  .github/workflows/update-armeria-version.yml
  dependencies.toml
Labels: dependencies
