Repository line/centraldogma, pull requests merged in 2023-08, with the labels that each got.

#852 Try migrating auth-web
  server-auth/webapp/build.gradle
  server-auth/webapp/package-lock.json
  server-auth/webapp/package.json
  server-auth/webapp/tsconfig-webpack.json
  server-auth/webapp/webpack.config.ts
  server-auth/webapp/yarn.lock
  server/build.gradle
  server/src/main/java/com/linecorp/centraldogma/server/CentralDogma.java
Labels: cleanup

#830 Support OpenSSH keys for SSH public key authentication when mirroring
  .github/workflows/actions_build.yml
  dependencies.toml
  it/mirror/build.gradle
  it/mirror/src/test/java/com/linecorp/centraldogma/it/mirror/git/ForceRefUpdateTest.java
  it/mirror/src/test/java/com/linecorp/centraldogma/it/mirror/git/GitMirrorAuthTest.java
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_256.openssh
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_256.openssh.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_256.openssh.pub
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_256.pem
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_256.pem.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_384.openssh
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_384.openssh.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_384.openssh.pub
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_384.pem
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_384.pem.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_521.openssh
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_521.openssh.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_521.openssh.pub
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_521.pem
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ecdsa_521.pem.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ed25519.openssh
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ed25519.openssh.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/ed25519.openssh.pub
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/rsa.openssh
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/rsa.openssh.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/rsa.openssh.pub
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/rsa.pem
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/rsa.pem.password
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/test.pem
  it/mirror/src/test/resources/com/linecorp/centraldogma/it/mirror/git/test.pub
  it/server/build.gradle
  server-mirror-git/build.gradle
  server-mirror-git/src/main/java/com/linecorp/centraldogma/server/internal/mirror/GitWithAuth.java
  server/build.gradle
  server/src/main/java/com/linecorp/centraldogma/server/internal/mirror/credential/MirrorCredentialUtil.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/mirror/credential/PublicKeyMirrorCredential.java
  server/src/test/java/com/linecorp/centraldogma/server/internal/mirror/credential/PublicKeyMirrorCredentialTest.java
  site/src/sphinx/mirroring.rst
Labels: improvement

#864 Update cron-utils to 9.2.1
  dependencies.toml
  server/src/main/java/com/linecorp/centraldogma/server/internal/mirror/AbstractMirror.java
  server/src/main/java/com/linecorp/centraldogma/server/internal/mirror/DefaultMirroringService.java
Labels: dependencies

#868 Log the current JGit version
  server/src/main/java/com/linecorp/centraldogma/server/internal/storage/repository/git/GitRepository.java
Labels: miscellaneous

#867 Upgrade dependencies for 0.62.0
  client/java-armeria/src/main/java/com/linecorp/centraldogma/client/armeria/CentralDogmaEndpointGroup.java
  dependencies.toml
  gradle/scripts/.gitrepo
  gradle/scripts/README.md
  gradle/scripts/build-flags.gradle
  gradle/scripts/lib/java-alpn.gradle
  gradle/scripts/lib/java-coverage.gradle
  gradle/scripts/lib/java-publish.gradle
  gradle/scripts/lib/java-rpc-proto.gradle
  gradle/scripts/lib/java-rpc-thrift.gradle
  gradle/scripts/lib/java-versionprops.gradle
  gradle/scripts/lib/java.gradle
  gradle/scripts/lib/kotlin.gradle
  settings/checkstyle/checkstyle.xml
Labels: dependencies

#869 Remove JSch from server module
  dist/build.gradle
  server-mirror-git/build.gradle
  server-mirror-git/src/main/java/com/linecorp/centraldogma/server/internal/mirror/GitMirror.java
  server-mirror-git/src/main/java/com/linecorp/centraldogma/server/internal/mirror/GitWithAuth.java
  server/build.gradle
Labels: cleanup

#872 Exclude `slf4j2` from `cron-utils`
  dependencies.toml
Labels: dependencies

#873 Downgrade cron-utils to 9.2.0
  dependencies.toml
  dist/src/conf/logback.xml
Labels: cleanup, dependencies
